/****** VARIABLES ******/

:root {
  /*COLORS*/

  /*BORDER RADIUS*/
  --br-soft: 1rem;
  --br-round: 50%;

  /*FONT SIZES*/
  --fs-standard: 1rem;
  --fs-m: 1.5rem;
  --fs-l: 2.25rem;
}

/****** MARGIN AND PADDING RESET ******/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/******* GLOBAL STYLES *******/
